{% extends 'macavity/base.html'   %}
{% load static %}
{% block content %}
<div class="content">
    {% for category in cats %}
        {% if forloop.first %}
            <section class="categories_section_top">
                <h2>{{ category.category_name }}</h2>
                <div class="c">
                    {% for video in category.videos.all %}
                        <div class="v">
                            {{ video.video_title }}
                            {% if video.preview %}
                                <a href="{% url 'video' video.slug %}"><img src="{{video.preview.url}}" width="320" height="180"></a>
                            {% else %}
                                <a href="{% url 'video' video.slug %}"><img src="{% static 'macavity/images/black_back.jpg' %}" width="320" height="180"></a>
                            {% endif %}
                            {{video.publish_date}}
                            <a href="{% url 'channel' video.author_channel.slug %}">{{video.author_channel.username}}</a>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% else %}
            <section class="categories_section">
                <h2>{{ category.category_name }}</h2>
                <div class="c">
                    {% for video in category.videos.all %}
                        <div class="v">
                            {% if video.preview %}
                                {{ video.video_title }}
                                <a href="{% url 'video' video.slug %}"><img src="{{video.preview.url}}" width="320" height="180"></a>
                            {% else %}
                                <a href="{% url 'video' video.slug %}"><img src="{% static 'macavity/images/black_back.jpg' %}" width="320" height="180"></a>
                            {% endif %}
                            {{video.publish_date}}
                            <a href="{% url 'channel' video.author_channel.slug %}">{{video.author_channel.username}}</a>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}