{% extends 'macavity/base.html' %}
{% load static %}
{% load macavity_tags %}
{% block content %}
{% if not playlist.hidden or playlist.channel_playlist.username == request.user.username %}
    <div class="content">
        <section class="videos_list">
            <div class="playlist_top">
                <h2>
                    {% if playlist.channel_playlist.avatar %}
                            <img src="{{playlist.channel_playlist.avatar.url}}" width="45px">
                    {% else %}
                            <img src="{% static 'macavity/images/logo.jpg' %}" width="45px">
                    {% endif %}
                    <a href="{% url 'channel' playlist.channel_playlist.slug %}">{{ playlist.channel_playlist.username }}</a>
                    {{ playlist.playlist_name }}
                    {% if playlist.channel_playlist.username == request.user.username and not playlist.algo_playlist%}
                        <a href="{% url 'changeplaylist' playlist.slug %}">Редактировать плейлист</a>
                    {% endif %}
                </h2>
            </div>
            {% draw_videos playlist.included_video.all %}
        </section>
    </div>
{% endif %}
{% endblock %}