{% extends 'macavity/base.html' %}
{% load static %}
{% load macavity_tags %}
{% block content %}
<div class="content">
    <section class="videos_list">
        <div class="playlist_top">
            <h2>
                {% for channel in subscribed_at %}
                    <a href="{% url 'channel' channel.slug %}">
                        {% if channel.avatar %}
                            <img src="{{channel.avatar.url}}" width="45px">
                        {% else %}
                            <img src="{% static 'macavity/images/logo.jpg' %}" width="45px">
                        {% endif %}
                        {{channel.username}}
                        {{channel.sub_num}}
                    </a>
                {% endfor %}
            </h2>
        </div>
        {% draw_videos %}
    </section>
</div>
{% endblock %}