{% extends 'macavity/base.html' %}
{% block content %}
<section class="register_login">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">
            {{ form.non_field_errors }}
        </div>
        {% for f in form %}
            <div class = "register-form">
                <p class="form_register">
                    <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>
                    {{ f }}
                </p>
            </div>
            <div class="form-error">
                {{ f.errors }}
            </div>
        {% endfor %}
        {% if form %}
            <button type="submit">Сохранить</button>
        {% endif %}
    </form>
    <a href="{% url 'playlistdelete' view.kwargs.slug %}">  
        <button>Удалить плейлист</button>
    </a>
</section>
{% endblock %}