{% extends 'macavity/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<section class="register_login">
    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <div class = "register-form">
                <p class="form_register">
                    <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>
                    {{ f }}
                </p>
            </div>
            <div class="form-error">
                {{ f.errors }}
            </div>
        {% endfor %}
        <button type="submit">Регистрация</button>
    </form>
</section>
{% endblock %}